<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Help page</title>
    </head>
    {{> header}}
    <body>
        <p></p>
    <h1>{{name}}</h1>
        <p>{{likes}}</p>
        {{> footer}}
    </body>
</html>